/* Design body */
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(77, 77, 77);
}

/* Design main text */
.tooltip {
  color: white;
  position: absolute;
  display: inline-block;
  border-bottom: 4px solid rgb(3, 187, 194);
  font-size: 3rem;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* Design tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgb(3, 187, 194);
  color: #fff;
  font-size: large;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 70%;
  margin-left: -60px;
}

/* Design tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(3, 187, 194) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
